@media (max-width: 391px) {
  body {	
		width: 100vw;
    font-size: 14px;
  }

  .header {
    padding: 0 0 0 0;
  }
  
  .main, .footer{
    padding: 10px;
  }

  .player {
    max-height: 100px;
    min-width: 250px;
    position: relative;
    flex-wrap: wrap;
    flex-direction: column;
  }

	.player-controls { margin: 0 auto 0 75px }

  .timeline-wrapper {
		min-width: 150px;
    margin: 15px 0 0 35px;
  }

	.timeline {	min-width: 200px;}

  .slider-wrapper {
    position: absolute;
    top: 48px;
    left: -30px;
    margin: 0 0 0 0;
  }

  .volume-logo {
    margin: 31.25% 11.25% 0 5%;
  }

  .weather {
    max-width: 100px;
    min-height: 150px;  
    text-align: left;
  }


  .time {
    min-height: 65px;
    font-size: 65px;    
  }

  .date {
    font-size: 20px;
    margin-bottom: 5px;
  }

  .greeting-container {
    min-height: 30px;
    font-size: 20px;
  }

  .greeting { padding: 5px }

  .name {
    font-size: 32px;
    padding: 5px;
  }

  .quote, .author { font-size: 11px }
  .quote {
    min-height: 20px;
    margin-bottom: 10px;
  }

  .social-media {
    gap: 10px;
    width: 150px;
  }
}


@media (min-width: 391px) and (max-width: 479px) {
  body {	
		width: 100vw;
    font-size: 14px;
  }

  .header {
    padding: 10px 10px 10px 0;
  }
  
  .main, .footer{
    padding: 10px;
  }

  .player {
    max-height: 100px;
    min-width: 250px;
    position: relative;
    flex-wrap: wrap;
    flex-direction: column;
  }

	.player-controls { margin: 0 auto 0 75px }

  .timeline-wrapper {
		min-width: 150px;
    margin: 15px 0 0 35px;
  }

	.timeline {	min-width: 200px;}

  .slider-wrapper {
    position: absolute;
    top: 48px;
    left: -30px;
    margin: 0 0 0 0;
  }

  .volume-logo {
    margin: 31.25% 11.25% 0 5%;
  }

  .weather {
    max-width: 100px;
    min-height: 150px;  
    text-align: left;
  }


  .time {
    min-height: 65px;
    font-size: 65px;    
  }

  .date {
    font-size: 20px;
    margin-bottom: 5px;
  }

  .greeting-container {
    min-height: 30px;
    font-size: 20px;
  }

  .greeting { padding: 5px }

  .name {
    font-size: 32px;
    padding: 5px;
  }

  .quote, .author { font-size: 11px }
  .quote {
    min-height: 20px;
    margin-bottom: 10px;
  }

  .social-media {
    gap: 10px;
    width: 150px;
  }

}

@media (min-width: 480px) and (max-width: 767px) {
	body { font-size: 15px }
  .player {
    max-height: 100px;
    max-width: 400px;
    position: relative;
    flex-wrap: wrap;
    flex-direction: column;
  }
	
	.player-controls {
		margin: 0 auto 0 75px;
	}

  .timeline-wrapper {
		min-width: 200px;
    margin: 15px 0 0 35px;
  }

	.timeline {max-width: 200px}

  .slider-wrapper {
    position: absolute;
    top: 48px;
    left: -30px;
    margin: 0 0 0 0;
  }

  .volume-logo {
    margin: 31.25% 11.25% 0 5%;
  }

	.weather {
    max-width: 130px;
    min-height: 150px;  
    text-align: left;
  }

  .time {
    min-height: 80px;
    font-size: 76px;    
  }

  .date {
    font-size: 21px;
    margin-bottom: 5px;
  }

  .greeting-container {
    min-height: 40px;
    font-size: 30px;
  }

  .greeting { padding: 5px }

  .name {
    font-size: 32px;
    padding: 5px;
  }

	.quotes__block {
		max-width: 500px;
	}

  .quote, .author { font-size: 13px }

  .quote {
    min-height: 20px;
    margin-bottom: 10px;
  }
}


@media (max-width: 1025px) and (min-width: 768px){

	.player {
    max-height: 100px;
		min-width: 400px;
    position: relative;
    flex-wrap: wrap;
    flex-direction: column;
  }
	
	.player-controls {
		margin: 0 auto 0 25%;
	}

  .timeline-wrapper {
		width: 60%;
    margin: 3.75% 0 0 10%;
  }

	.timeline {min-width: 250px}

	.slider-wrapper {
    position: absolute;
    top: 48px;
    left: -30px;
    margin: 0 0 0 0;
  }

  .volume-logo {
    margin: 18.75% 11.25% 0 5%;
  }

	.weather {
    min-width: 180px;
    min-height: 150px;  
    text-align: left;
  }


  .time {
    min-height: 100px;
    font-size: 90px; 
  }

  .date {
    min-height: 25px;
    font-size: 24px;
    margin-bottom: 10px;
  }

  .greeting-container {
    min-height: 40px;
    font-size: 36px;
  }

  .name {
    font-size: 36px;
    padding: 5px;
  }
	.quotes__block {
		max-width: 600px;
	}

  .quote, .author { font-size: 14px }

/*---------------------------------------------------------------------*/
	.popup__content {
		max-width: 400px;
		max-height: 550px;
	}

	.change-lang, .change-BG-images-source {
		max-width: 150px;
	}

	.tagInput {
		min-width: 250px;	
		max-height: 45px;
	}

	.saveChangesButton {
		max-height: 45px;
	}

	.popup__content,
	.saveChangesButton,
	.tagInput, .change-lang,
	.change-BG-images-source {
		font-size: 18px;
	}

}

@media (min-width: 1025px){

  .player {
    max-height: 100px;
		min-width: 400px;
    position: relative;
    flex-wrap: wrap;
    flex-direction: column;
  }
	
	.player-controls {
		margin: 0 auto 0 28.75%;
	}

  .timeline-wrapper {
		width: 70%;
    margin: 3.75% 0 0 8.75%;
  }

	.timeline {min-width: 250px}

	.slider-wrapper {
    position: absolute;
    top: 48px;
    left: -30px;
    margin: 0 0 0 0;
  }

  .volume-logo {
    margin: 18.75% 11.25% 0 5%;
  }

	.weather {
    min-width: 200px;
    min-height: 150px;  
    text-align: left;
  }

	.quotes__block {
		max-width: 1000px;
	}

/*----------------------------------------------------------*/

	.popup__content {
		max-width: 500px;
		min-height: 600px;
	}

	.change-lang, .change-BG-images-source {
		min-width: 150px;
	}

	.tagInput {
		min-width: 300px;
		min-height: 30px;
		max-height: 50px;
	}

	.saveChangesButton {
		min-width: 150px;
		min-height: 35px;
		max-height: 50px;
	}

	body,
	.popup__content,
	.saveChangesButton,
	.tagInput, .change-lang,
	.change-BG-images-source {
		font-size: 21px;
	}

}