body{
  position: relative;
  width: 1440px;
  font-style: normal;
  color:white;
  margin: auto;
}

header {
  width: 1440px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 90px;
  background-color: rgba(242, 120, 92, 0.7);
  z-index: 1000;
  margin: auto;
}

#preview {
  width: 1440px;
  height: 765px;
  background: url("./images/main_bg.jpg") no-repeat;
}

#nav {
  position: absolute;
  top: 35px;
  left: 494px;
  display: inline-flex;
	justify-content: space-between;
  width: 527px;
  height: 21px;
  gap: 42px;
  color: white;
}

.nav_links {
  width: 98px;
  height: 21px;
  font-weight: 400;
}

.Red_Hat_Text_Medium {
  font-family: 'Red Hat Text';
  font-weight: 500;
}


.Aleo_Regular {
  font-weight: 400;
}
.Aleo_Bold {
  font-weight: 700;
}

.Aleo_Bold_italic {
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.Aleo_italic {
  font-style: italic;
  font-weight: 400;
}

.Aleo_Regular, .Aleo_Bold, .Aleo_italic, .Aleo_Bold_italic {
  font-family: 'Aleo';
}


.titles_font {
  font-family: Red Hat Text;
  font-size: 40px;
  font-weight: 500;
  line-height: 53px;
  color: #F2785C;
}

#travel_logo {
  position: absolute;
  top: 25px;
  left: 120px;
  width: 216px;
  height: 31px;
  /* margin: 25px 0 0 120px; */
}

#logo {
  display: inline;
}

#header_title {
  display: inline;
  width: 180px;
  height: 31px;
  font-family: 'Magra';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: white;
  margin: 0;
}

.button {
  background: #0D606F;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  color: white;
}

#Login_button {
  position: absolute;
  top: 25px;
  right: 120px;
  width: 103px;
  height: 41px;
  font-size: 16px;
  line-height: 21px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
}

#plan_your_trip {
  position: absolute;
  width: 892px;
  height: 422px;
  left: 120px;
  top: 122px;
}

#preview_title {
  font-size: 80px;
  line-height: 96px;
  color: white;
  margin: 0;
}

#search {
  position: absolute;
  width: 892px;
  height: 95px;
  left: 120px;
  top: 416px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 16px;
  font-size: 24px;
  color: #F2785C;
}

#Start_planning_button {
  position: absolute;
  width: 228px;
  height: 59px;
  top: 18px;
  right: 18px;
  font-size: 24px;
  line-height: 32px;
}

#steps {
  width: 1177px;
  height: 247px;
  margin: 80px auto 97px;
}

.section_title {
  height: 53px;
  font-size: 40px;
  line-height: 53px;
  color: #F2785C;
  text-align: center;
  margin: 0px auto;
}

.container {
    display: flex;
}

#steps_container {
  justify-content: space-around;
  width: 1177px;
  height: 154px;
  margin-top: 40px; 
}


.steps_item {
  font-size: 20px;
  line-height: 24px;
  color: #0D606F;
}

.steps_icon {
  display: flex;
  align-items: center;
  height: 100px;
  width: 100px;
  border-radius: 16px;
  background-color: #F2785C;
  margin: 0px auto 30px;
}

.steps_logo {
  height: 45px;
  width: 50px;
  margin: auto;
}