html {
  scroll-behavior: smooth;
}

body{
  position: relative;
  width: 1440px;
  height: 3735px;
  font-style: normal;
  background-color: white;
  color:white;
  margin: auto;
}

header {
  width: 1440px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 90px;
  background-color: rgba(242, 120, 92, 0.7);
  box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
  z-index: 1000;
  margin: auto;
}

h1, h2, h3, p {
  margin: 0px;
}

#preview {
  width: 1440px;
  height: 765px;
  background: url("./images/main_bg.jpg") no-repeat;
}

#navigation {
  position: absolute;
  top: 35px;
  left: 494px;
  width: 527px;
  height: 21px;

  display: inline-flex;
	justify-content: space-between;
  gap: 42px;
  color: white;
}


.nav_links {
  height: 21px;
  font-weight: 400;

  color: white;
  text-decoration: none;
}

.Red_Hat_Text_Medium {
  font-family: 'Red Hat Text';
  font-weight: 500;
}

.Aleo_Regular {
  font-weight: 400;
}
.Aleo_Bold {
  font-weight: 700;
}

.Aleo_Bold_italic {
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.Aleo_italic {
  font-style: italic;
  font-weight: 400;
}

.Aleo_Regular, .Aleo_Bold, .Aleo_italic, .Aleo_Bold_italic {
  font-family: 'Aleo';
}

#travel_logo {
  position: absolute;
  top: 25px;
  left: 120px;
  width: 216px;
  height: 31px;
}

#logo {
  display: inline;
}

#header_title {
  display: inline;
  width: 180px;
  height: 31px;
  font-family: 'Magra';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: white;
  margin: 0;
}


.button {
  background-color: #0D606F;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  color: white;
  border: 0px;
  padding: 0px;
}

.button:active {
  animation: buttons_animation 300ms ease-in;
}

.nav_links:hover, .button:hover {
  cursor: pointer;
  color: wheat;
}


#login_button {
  position: absolute;
  top: 25px;
  right: 120px;
  width: 103px;
  height: 41px;
  font-size: 16px;
  line-height: 21px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
}

#login_button:active {
  animation: Login_button_animation 300ms ease-in;
}

@keyframes buttons_animation {
  0% {
    box-shadow: 0px 0px 3px 0px rgba(13, 96, 111, 0.08);
  }
  
  100% {
    box-shadow: 0px 2px 3px 0px rgba(13, 96, 111, 0.16);
  }
}

@keyframes Login_button_animation {
  0% {
    box-shadow: 0px 2px 3px 0px rgba(13, 96, 111, 0.16);
  }

  100% {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
}

#start_planning_button {
  position: absolute;
  width: 228px;
  height: 59px;
  top: 18px;
  right: 18px;
  font-size: 24px;
  line-height: 32px;
}

#plan_your_trip {
  position: absolute;
  width: 892px;
  height: 422px;
  left: 120px;
  top: 122px;
}

#preview_title {
  font-size: 80px;
  line-height: 96px;
  color: white;
  margin: 0;
}

#search {
  position: absolute;
  width: 892px;
  height: 95px;
  left: 120px;
  top: 416px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 16px;
  font-size: 24px;
  color: #F2785C;
}

#steps {
  width: 1177px;
  height: 247px;
  margin: 80px auto 97px;
}

.section_title {
  height: 53px;
  font-size: 40px;
  line-height: 53px;
  color: #F2785C;
  text-align: center;
  margin: 0px auto;
}

.container {
  display: flex;
  flex-direction: row;
} 

#steps_container {
  justify-content: space-around;
  width: 1177px;
  height: 154px;
  margin-top: 40px; 
}


.steps_item {
  font-size: 20px;
  line-height: 24px;
  color: #0D606F;
}

.steps_icon {
  align-items: center;
  height: 100px;
  width: 100px;
  border-radius: 16px;
  background-color: #F2785C;
  margin: 0px auto 30px;
}

.steps_logo {
  height: 45px;
  width: 50px;
  margin: auto;
}

#destinations {
  position: absolute;
  height: 1042px;
  width: 2520px;
  left: -540px;
  top: 1189px;
}

#destinations_container {
  position: absolute;
  width: 100%;
  height: 800px;
  top: 99px;

  align-items: flex-start;
  padding: 0px;
  gap: 60px;
}

.destinations_photo {
  position: absolute;
  top: 0px;
  width: 800px;
  height: 800px;
  flex: none;
  flex-grow: 0;
  border-radius: 16px;
}

#Spain {
  left: 0px;
  order: 0;
}

#Japan {
  left: 860px;
  order: 1;
}

#USA {
  left: 1720px;
  order: 2;
}

#scroll_circles {
  position: absolute;
  width: 80px;
  height: 20px;
  left: 1210px;
  top: 920px;

  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  
}

.scroll_circle {
  width: 20px;
  height: 20px;

  flex: none;
  flex-grow: 0;
}

#bg_image {
  position: absolute;
  height: 1331px;
  width: 1442px;
  left: 0px;
  top: 2404px;
  background: url("./images/Story_images/stories_bg.jpg");
  margin: 0px auto;
}

#stories_bg {
  position: absolute;
  width: 1445px;
  height: 1270px;
  left: 0px;
  bottom: 61px;

  background: rgba(255, 255, 255, 0.7);
}

#stories {
  position: absolute;
  width: 1201px;
  height: 1322px;
  left: 119px;
  bottom: 41px;
}

#stories_container {
  position: absolute;
  top: 93px;
  width: 1200px;
  height: 1090px;
  
  flex-direction: column;
  gap: 30px;
  margin: 40px 0px;
}

.story {
  width: 1200px;
  height: 250px;
  gap: 40px;
}

.story_image {
  width: 400px;
  height: 250px;

  filter: drop-shadow(0px 4px 4px #0D606F);
  border-radius: 16px;
}

.stories_text {
  width: 760px;
  height: 250px;
  color: #0D606F;
}

.story_title {
  width: 760px;
  height: 42px;

  font-size: 35px;
  line-height: 42px;
  margin-bottom: 24px;
}

.story_description {
  font-size: 20px;
  line-height: 24px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.story_description a:hover {
  text-decoration: none;
}

.story_description a:visited {
  color: #0D606F;
}

.arrow_button {
  position: absolute;
  height: 59px;
  width: 228px;

  justify-content: center;
  align-items: center;
  gap: 10px;

  font-size: 24px;
  line-height: 32px;
}

footer {
  position: absolute;
  width: 729px;
  height: 34px;
  left: 590px;
  top: 3688px;
}

#footer_data {  
  width: 260px;
  height: 21px;

  font-size: 15px;
  line-height: 21px;
  margin-top: 7px;
}

#social_media {
  position: absolute;
  width: 141px;
  height: 34px;
  left: 588px;
  top: 0px;
  gap: 20px;
}
