.Red_Hat_Text_Regular { font-weight: 400 }

.Red_Hat_Text_Medium { font-weight: 500 }

.Aleo_Regular { font-weight: 400 }

.Aleo_Bold { font-weight: 700 }

.Aleo_Bold_italic {
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.Aleo_italic {
  font-style: italic;
  font-weight: 400;
}

.Aleo_Regular, .Aleo_Bold, .Aleo_italic, .Aleo_Bold_italic { font-family: 'Aleo' }

.Red_Hat_Text_Regular, .Red_Hat_Text_Medium { font-family: 'Red Hat Text' }
