#section_preview {
  max-width: 892px;
  max-height: 422px;
  margin: 32px 0 0 120px;
}

#preview_bg {
  height: 765px;
  /* background: url("../images/main_bg.jpg") no-repeat; */
}

#preview_bg_img {
  position: absolute;
  /* top: 0px;
  left: 0px; */
  max-width: 100%;
  height: 765px; 
  z-index: -1; 
}

.list { 
  justify-content: space-between;
  
  margin: 0;
  padding: 0;
}

.list_item {
  display: list-item;
  list-style: none;
  white-space: nowrap;
}

#nav_menu {
  flex-wrap: wrap;
}

.button {
  background-color: #0D606F;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  color: white;
  border: 0px;
  padding: 0px;
}

.button:active {
  animation: buttons_animation 300ms ease-in;
}

.nav_link:hover, .button:hover {
  cursor: pointer;
  color: wheat;
}

@keyframes buttons_animation {
  0% {
    box-shadow: 0px 0px 3px 0px rgba(13, 96, 111, 0.08);
  }
  
  100% {
    box-shadow: 0px 2px 3px 0px rgba(13, 96, 111, 0.16);
  }
}

@keyframes Login_button_animation {
  0% {
    box-shadow: 0px 2px 3px 0px rgba(13, 96, 111, 0.16);
  }

  100% {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
}

#start_planning_button {
  width: 228px;
  height: 62.1%;
  font-size: 24px;
  line-height: 32px;
  margin: 18px 18px 18px 0;
}

#plan_your_trip {
  flex-direction: column;
  z-index: 100;
}

#plan_your_trip p { margin-top: 30px }

#preview_title {
  line-height: 96px;
  color: white;
  margin: 0;
}

#search {
  height: 95px;
  margin: 46px 0 0 0;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 16px;
  font-size: 24px;
  color: #F2785C;
}

#search p {margin: 0 0 0 41px}

/*--------------------------------------------*/


#steps {
  max-width: 1177px;
  max-height: 247px;
  margin: 5.55% 4.16% 6.74%;
}

#steps_container {
  justify-content: space-between;
  max-width: 1177px;
  max-height: 154px;
  margin-top: 3.39%;
  padding: 0 9.17% 0 6.2%;
}

.steps_icon {
  align-items: center;
  border-radius: 16px;
  background-color: #F2785C;
}

.steps_logo {
  margin: auto;
}

#steps_text {
  justify-content: space-between;
  height: 24px;
  color: #0D606F;
  margin-top: 20px;
}


/*--------------------------------------------*/




#destinations {
  position: absolute;
  height: 1042px;
  width: 1440px;
  left: 0px;
  top: 1189px;
}

#destinations_container {
  position: absolute;
  width: 1440px;
  height: 800px;
  top: 99px;

  align-items: flex-start;
  padding: 0px;
  gap: 60px;

  overflow: hidden;
}

.destinations_photo {
  position: absolute;
  top: 0px;
  width: 800px;
  height: 800px;
  flex: none;
  flex-grow: 0;
  border-radius: 16px;
}

#Spain {
  left: -540px;
  order: 0;
}

#Spain_text {
  position: absolute;
  height: 42px;
  width: 95px;
}

#Japan {
  left: 320px;
  order: 1;
}

#Japan_text {
  position: absolute;
  height: 42px;
  width: 108px;
}

#USA {
  left: 1180px;
  order: 2;
}

#USA_text {
  position: absolute;
  height: 42px;
  width: 66px;
}

#Spain_text, #Japan_text, #USA_text {
  position: absolute;
  left: 15px;
  bottom: 40px;
  font-size: 32px;
  line-height: 42px;
}


#scroll_circles {
  position: absolute;
  width: 80px;
  height: 20px;
  left: 670px;
  top: 920px;

  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  
}

.scroll_circle {
  width: 20px;
  height: 20px;

  flex: none;
  flex-grow: 0;
}

#bg_image {
  position: absolute;
  height: 1331px;
  width: 1442px;
  left: 0px;
  top: 2404px;
  background: url("../images/Story_images/stories_bg.jpg");
  margin: 0px auto;
}

#stories_bg {
  position: absolute;
  width: 1445px;
  height: 1270px;
  left: 0px;
  bottom: 61px;

  background: rgba(255, 255, 255, 0.7);
}

#stories {
  position: absolute;
  width: 1201px;
  height: 1322px;
  left: 119px;
  bottom: 41px;
}

#stories_container {
  position: absolute;
  top: 93px;
  width: 1200px;
  height: 1090px;
  
  flex-direction: column;
  gap: 30px;
  margin: 40px 0px;
}

.story {
  width: 1200px;
  height: 250px;
  gap: 40px;
}

.story_image {
  width: 400px;
  height: 250px;

  filter: drop-shadow(0px 4px 4px #0D606F);
  border-radius: 16px;
}

.stories_text {
  width: 760px;
  height: 250px;
  color: #0D606F;
}

.story_title {
  width: 760px;
  height: 42px;

  font-size: 35px;
  line-height: 42px;
  margin-bottom: 24px;
}

.story_description {
  font-size: 20px;
  line-height: 24px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.story_description a:hover {
  text-decoration: none;
}

.story_description a:visited {
  color: #0D606F;
}

.arrow_button {
  position: absolute;
  height: 59px;
  width: 228px;

  justify-content: center;
  align-items: center;
  gap: 10px;

  font-size: 24px;
  line-height: 32px;
}

footer {
  position: absolute;
  width: 729px;
  height: 34px;
  left: 590px;
  top: 3688px;
}

#footer_data {  
  width: 260px;
  height: 21px;

  font-size: 15px;
  line-height: 21px;
  margin-top: 7px;
}

#social_media {
  position: absolute;
  width: 141px;
  height: 34px;
  left: 588px;
  top: 0px;
  gap: 20px;
}