#section_preview {
  max-width: 892px;
  max-height: 422px;
  margin: 32px 0 0 120px;
}

#preview_bg {
  height: 765px;
}

#preview_bg_img {
  position: absolute;
  max-width: 100%;
  height: 765px; 
  z-index: -1; 
}

.list { 
  justify-content: space-between;
  
  margin: 0;
  padding: 0;
}

.list_item {
  display: list-item;
  list-style: none;
  white-space: nowrap;
}

#nav_menu {
  flex-wrap: wrap;
}

.button {
  background-color: #0D606F;
  border-radius: 10px;
  color: white;
  border: 0px;
  padding: 0px;
  box-shadow: 0px 0px 3px 0px rgba(13, 96, 111, 0.08);
}

.button, .nav_link { transition: all 300ms ease-in 0s }
.button:active{ box-shadow: 0px 2px 3px 0px rgba(13, 96, 111, 0.16) }

.nav_link:hover, .button:hover {
  cursor: pointer;
  color: wheat;
}

@keyframes Login_button_animation {
  0% { box-shadow: 0px 2px 3px 0px rgba(13, 96, 111, 0.16) }
  100% { box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) }
}

#start_planning_button {
  width: 228px;
  height: 62.1%;
  font-size: 24px;
  line-height: 32px;
  margin: 18px 18px 18px 0;
}

#plan_your_trip {
  flex-direction: column;
  z-index: 100;
}

#plan_your_trip p { margin-top: 30px }

#preview_title {
  line-height: 96px;
  color: white;
  margin: 0;
}

#search {
  height: 95px;
  margin: 46px 0 0 0;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 16px;
  font-size: 24px;
  color: #F2785C;
}

#search p {margin: 0 0 0 41px}

/*--------------------------------------------*/

#steps {
  max-width: 1177px;
  max-height: 247px;
  margin: 5.55% 4.16% 6.74%;
}

#steps_container {
  justify-content: space-between;
  max-width: 1177px;
  max-height: 154px;
  margin-top: 3.39%;
  padding: 0 9.17% 0 6.2%;
}

.steps_icon {
  align-items: center;
  border-radius: 16px;
  background-color: #F2785C;
}

.steps_logo {
  margin: auto;
}

#steps_text {
  justify-content: space-between;
  height: 24px;
  color: #0D606F;
  margin-top: 20px;
}

/*============================================================*/

#destinations {
  max-height: 1042px;
  max-width: 1440px;
  margin-bottom: 5.55%;
}

#destinations_container {
  max-width: 2520px;
  height: 800px;

  position: relative;
  left: 0px;

  align-items: flex-start;
  justify-content: center;
  transition: all ease 1s;

  padding: 0px;
  margin: 3.2% 0 0 0;
  gap: 4.28%;
}

.destination_photo {
  position: relative;
  width: 800px;
  height: 800px;
  border-radius: 16px;
}

.scroll_circle {
  fill: rgba(242, 120, 92, 0.5);
}

.destination_photo_arrow { display: none }

/*============================================================*/

#bg_image {
  height: 1331px;
  max-width: 1440px;
  background: url("../images/Story_images/stories_bg.jpg") no-repeat;
  margin: 2.77% auto 0;
}

#stories_bg {
  max-width: 83.05%;
  max-height: 87.63%;
  background: rgba(255, 255, 255, 0.7);
  padding: 2.96% 8.68% 3.03% 8.26%;
}

#stories {
  max-width: 1201px;
  max-height: 1322px;
  margin: 0px auto;
}

#stories_container {
  max-width: 1200px;
  height: 1090px;
  
  flex-direction: column;
  gap: 2.5%;
  margin-bottom: 3.33%;
}

.story {
  max-width: 1200px;
  height: 250px;
  gap: 3.33%;
}

.story_image {
  height: 250px;

  filter: drop-shadow(0px 4px 4px #0D606F);
  border-radius: 16px;
}

.stories_text {
  max-height: 250px;
  color: #0D606F;
}

.story_title {
  font-size: 35px;
  line-height: 42px;
  margin-bottom: 3.15%;
  white-space: nowrap;
}

.story_description {
  font-size: 20px;
  line-height: 24px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.stories_text a:hover {
  text-decoration: none;
}

.stories_text a:visited {
  color: #0D606F;
}

/*============================================================*/

footer {
  justify-content: end;
  align-items: center;
  width: 100%;
  height: 4.58%;
  gap: 22.77%;
}

#footer_data {  
  width: 260px;
  height: 21px;

  font-size: 15px;
  line-height: 21px;
}

#social_media {
  width: 141px;
  height: 34px;
  gap: 20px;
  margin-right: 8.4%;
}

#footer_data, #social_media {
  margin-top: 20px;
}